torch~=1.7.1
torchvision~=0.8.2
torchtext~=0.8.0

torchserve~=0.4.0
torch-model-archiver~=0.4.0

ftfy
regex
tqdm
pytest

transformers~=4.8.2
git+https://github.com/openai/CLIP.git

flask~=1.1.2
gunicorn~=19.10.0
waitress~=2.0.0

n2
boto3
imagehash
