#Saving snapshot
#Sat Aug 21 20:15:47 KST 2021
inference_address=http\://0.0.0.0\:8081
default_response_timeout=300
model_store=models
number_of_gpu=4
python=/opt/conda/bin/python
model_snapshot={\n  "name"\: "20210821201547384-snapshot.cfg",\n  "modelCount"\: 2,\n  "created"\: 1629544547384,\n  "models"\: {\n    "mclip"\: {\n      "1.0"\: {\n        "defaultVersion"\: true,\n        "marName"\: "mCLIP_base.mar",\n        "minWorkers"\: 8,\n        "maxWorkers"\: 4,\n        "batchSize"\: 32,\n        "maxBatchDelay"\: 100,\n        "responseTimeout"\: 300\n      }\n    },\n    "clip"\: {\n      "1.0"\: {\n        "defaultVersion"\: true,\n        "marName"\: "CLIP_RN50x4.mar",\n        "minWorkers"\: 8,\n        "maxWorkers"\: 4,\n        "batchSize"\: 32,\n        "maxBatchDelay"\: 100,\n        "responseTimeout"\: 300\n      }\n    }\n  }\n}
tsConfigFile=config.properties
version=0.4.1
workflow_store=models
unregister_model_timeout=300
management_address=http\://0.0.0.0\:8082
metrics_address=http\://0.0.0.0\:8083
